body{
	/*background-image: url('../img/runner.png');*/
}

.container.jumbo{
	background-image: url('../img/trig.jpg');
	background-size: 100%;
	background-position: 0% 42%;
	background-clip: initial;
}

.jumbo > h1 {
	color: #fff;
	/*font-size: 36px;*/
}

.jumbo > p {
	color: #fff;
}

.trig-highlight{
	font-size: 2em;
}

.app-gallery p{
	font-weight: normal;
}

.app-gallery img{
	width: 600px;
	border: 1px solid #000;
}
